version: 2.1
orbs:
  node: circleci/node@3.0.0
jobs:
  build-and-test:
    executor:
      name: node/default
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn
      - run:
          name: Env
          command: |
            echo "export AUTH_KEY=$AUTH_KEY" >> $BASH_ENV
            echo "export DB_HOST=$DB_HOST" >> $BASH_ENV
            echo "export DB_PASS=$DB_PASS" >> $BASH_ENV
            echo "export DB_PORT=$DB_PORT" >> $BASH_ENV
            echo "export DB_USER=$DB_USER" >> $BASH_ENV
      - run:
          name: Run YARN tests
          command: yarn run test
  deploy:
    machine:
      enabled: true
    steps:
      - run:
          name: Deploy Over SSH
          command: |
            ssh $SSH_USER@$SSH_HOST "./Collection-Server/deploy.sh"
workflows:
    build-and-test:
      jobs:
        - build-and-test
    deploy:
      jobs:
        - deploy:
          requires:
             - build-and-test